form{
    max-width: 400px !important;
    min-height: 400px !important;
    box-sizing: border-box !important;
    background: rgba(253, 219, 124, 0.6) !important;
    box-shadow: 4px 2px 16px rgba(0, 0, 0, 0.4) !important;
    border-radius: 8px !important;
    margin:  20px auto 0 auto !important;
    padding: 25px !important;
    color: #414141 !important;
    margin-top: 40px !important;        

}

/* } */
/* .modal{
    max-width: 400px !important;
    min-height: 400px !important;
    box-sizing: border-box !important;
    background: rgba(253, 219, 124, 0.6) !important;
    box-shadow: 4px 2px 16px rgba(0, 0, 0, 0.4) !important;
    border-radius: 8px !important;
    margin:  20px auto 0 auto !important;
    padding: 25px !important;
    color: #414141 !important;
    margin-top: 40px !important;        

 
   
}
*/
.cm-input{
    display: block;
    box-sizing: border-box;
    padding: 10px;
    width: 100%; 
    margin: 14px auto;
    border-radius: 20px;
    border: 1px solid #ccc;
    
    
}
.cm-input:focus{
    outline: 0;
    border-color: #f9cb81;
    
}
.cm-input:invalid{
    border-color: #e41b17;
    
} 